@using BE
@using BLL.Wallet
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject BlWallet Wallet

<!-- Navbar -->
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="mdi mdi-menu mdi-24px"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">


        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                        <img src="~/Firstpage/images/team-img1.png" alt="" class="w-px-40 h-auto rounded-circle" />
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item waves-effect" href="@Url.Action("ProfilePage","Account")">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar avatar-online">
                                        <img src="~/Firstpage/images/team-img1.png" alt="" class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    @{
                                        if (User!.Identity!.IsAuthenticated)
                                        {
                                            var user = UserManager.Users.SingleOrDefault(u => u.UserName == User.Identity.Name);
                                            <span class="fw-semibold d-block">@user!.FirstName @user!.LastName</span>
                                            <small class="text-muted">@user!.UserName</small>
                                        }
                                        else
                                        {
                                            <span class="fw-semibold d-block">null</span>
                                            <small class="text-muted">null</small>
                                        }
                                    }

                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    @if (User!.Identity!.IsAuthenticated)
                    {
                        
                            string id = UserManager.Users.SingleOrDefault(x => x.UserName == User.Identity.Name)!.Id;
                            var balance =await Wallet.GetBalanceAsync(id);
                            <li>
                                <a class="dropdown-item waves-effect" href="@Url.Action("Deposit", "Wallet")">
                                    <i class="mdi mdi-wallet-outline me-2"></i>
                                    <span class="align-middle">موجودی :@Convert.ToInt32(balance).ToString("##,###") تومان </span>
                                </a>
                            </li>
                        
                       
                    }
                   
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>

                @*     <li>
                        <a class="dropdown-item waves-effect" href="@Url.Action("Learn", "Home")">
                            <i class="mdi mdi-help-circle-outline me-2"></i>
                            <span class="align-middle"> آموزش کار با سامانه</span>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li> *@
                    <li>
                        <a class="dropdown-item waves-effect" href="@Url.Action("Logout", "Account")">
                            <i class="mdi mdi-logout me-2"></i>
                            <span class="align-middle">خروج</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--/ User -->
        </ul>
    </div>
</nav>

<!-- / Navbar -->