@{
    ViewData["Title"] = "آموزش سامانه هدهد";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section vendorcss
{
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css"/>
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css"/>
    <link rel="stylesheet" href="~/assets/vendor/libs/flatpickr/flatpickr.css"/>


}

@section pagecss
{
}

<!-- FormValidation -->
<div class="col-12  ">
    <div class="card">
        <h5 class="card-header">مستندات سامانه هدهد</h5>
        <div class="card-body">
            <div style="padding: 5px;" class="alert alert-outline-primary" role="alert">
                    <b dir="ltr"> 2.0.0 تغییرات سامانه در ورژن </b>
                    <p dir="rtl" style="text-align: justify;">
                        1.بهبود ui سامانه <br/>
                        2.رفع ایراد جستجوهای تلگرام <br/>
                        3.بهبود سرعت جستجو <br/>
                        4.افزایش سرعت کلی سامانه <br/>
                        5.بهبود سرعت api های داخلی <br/>
                    </p>

            </div>
            <div style="padding: 5px;" class="alert alert-outline-primary" role="alert">
                <b dir="ltr"> 3.0.0 تغییرات سامانه در ورژن </b>
                <p dir="rtl" style="text-align: justify;">
                    1.بهبود ui سامانه <br/>
                    2.ایجاد صفحه جستجوی کلی <br/>
                    3.بهبود سرعت جستجو <br/>
                    4.بروزرسانی ثبت پرونده ها بر اساس روش جاری ابلاغی <br/>
                    5.ارتقا گزارش اخبار و پرونده ها <br/>
                    6.بهبود ایرادات ورود تلگرام و اینستاگرام
                </p>

            </div>
        </div>
    </div>

</div>

@section vendorjs
{
  
}

@section PageJs
{

}