<footer  class="footer-simple py-4" dir="rtl">
    <div class="container">
        <div class="row">
            <!-- کپی رایت -->
            <div class="col-md-4 mb-3 mb-md-0 text-center text-md-right">
                <p class="mb-0">© @DateTime.Now.Year - شرکت شیلنگ‌های مسلح قم</p>
            </div>

            <!-- آدرس و تماس -->
            <div class="col-md-4 mb-3 mb-md-0 text-center">
                <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                        <i class="fas fa-map-marker-alt ml-2"></i>
                        قم، کیلومتر ۸ جاده قدیم کاشان
                    </li>
                    <li class="mb-1">
                        <i class="fas fa-phone ml-2"></i>
                        025-37224927 - 025-37749191
                    </li>
                    <li>
                        <i class="fas fa-envelope ml-2"></i>
                        info@tpl-hose.ir
                    </li>
                </ul>
            </div>

            <!-- شبکه‌های اجتماعی -->
            <div id="footer" class="col-md-4 text-center text-md-left">
                <div class="social-links">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mx-2">
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mx-2">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mx-2">
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mx-2">
                            <a href="https://twitter.com/" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- لینک فونت آیکون‌ها -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">